.toolbar {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;

  background-color: #40a5cd;
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 4px 32px;
}

.bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
  background-color: #2a80a2;
  padding: 0px 4vw;
}

.left-side {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.logo {
  height: 12vmin;
}

.button {
  /* height: 40px; */
  text-transform: none;
  color: white;
  font-weight: 600;
  background-color: #2a80a2;
  border: unset;
  padding: 12px;
  border-right: 2px solid rgba(0, 0, 0, 0.5);
}

.button:hover {
  background-color: #206079;
  transition: background-color 0.1s;
}

.button:active {
  background-color: #154051;
  transition: background-color 0.1s;
}

.button:disabled {
  background-color: #40a5cd;
}
